body {
    background-color: black !important;
}

.navbar {
    background-color: aquamarine !important;
    color: black !important;
}

p {
    /*background-color: black !important;*/
    color: greenyellow !important;
}

h5 {
    /*background-color: black !important;*/
    color: orange !important;
}

.list-group-item {
    background-color: hotpink !important;
    color: indigo !important;
}